<h1>Listing proxies</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proxies.each do |proxy| %>
  <tr>
    <td><%= proxy.title %></td>
    <td><%= proxy.url %></td>
    <td><%= link_to 'Show', proxy %></td>
    <td><%= link_to 'Edit', edit_proxy_path(proxy) %></td>
    <td><%= link_to 'Destroy', proxy, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Proxy', new_proxy_path %>
