<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @proxy.title %>
</p>

<p>
  <b>Url:</b>
  <%= @proxy.url %>
</p>


<%= link_to 'Edit', edit_proxy_path(@proxy) %> |
<%= link_to 'Back', proxies_path %>
