<p id="notice"><%= notice %></p>

<p>
  <b>Archipath:</b>
  <%= @webservicetolisten.archipath %>
</p>

<p>
  <b>Date:</b>
  <%= @webservicetolisten.date %>
</p>

<p>
  <b>Description:</b>
  <%= @webservicetolisten.description %>
</p>

<p>
  <b>Environment:</b>
  <%= @webservicetolisten.environment %>
</p>

<p>
  <b>Nuxeouid:</b>
  <%= @webservicetolisten.nuxeouid %>
</p>

<p>
  <b>Title:</b>
  <%= @webservicetolisten.title %>
</p>

<p>
  <b>Url:</b>
  <%= @webservicetolisten.url %>
</p>


<%= link_to 'Edit', edit_webservicetolisten_path(@webservicetolisten) %> |
<%= link_to 'Back', webservicetolistens_path %>
