<h1>Listing subscription_types</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subscription_types.each do |subscription_type| %>
  <tr>
    <td><%= subscription_type.description %></td>
    <td><%= subscription_type.title %></td>
    <td><%= link_to 'Show', subscription_type %></td>
    <td><%= link_to 'Edit', edit_subscription_type_path(subscription_type) %></td>
    <td><%= link_to 'Destroy', subscription_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subscription type', new_subscription_type_path %>
